# This workflow will setup and test the python code using miniconda

name: Setup and Test module

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          activate-environment: nrcat
          python-version: "3.10"
          channels: main, conda-forge
          allow-softlinks: true
          channel-priority: flexible
          show-channel-urls: true
      - run: |
            # Conda diagnostic
            conda --version
            conda info
            conda list
            conda config --show-sources
            conda config --show
            conda info --envs
            python --version
            pip --version
            pwd
            ls -l
            # Setup nrcattools
            pip install -r requirements.txt
            export NRC_DIR=${PWD}
            echo $NRC_DIR
            cd ./test
            pwd
            ls
            # LAL extras
            export LAL_DATA_PATH="${PWD}/test_data/lalsuite/lalsuite-extra/data/lalsimulation"
            echo $LAL_DATA_PATH
            mkdir -p $LAL_DATA_PATH
            cd $LAL_DATA_PATH
            ls
            ## lal extras fetch method
            #git lfs pull
            # wget https://git.ligo.org/lscsoft/lalsuite-extra/-/raw/master/data/lalsimulation/SEOBNRv4ROM_v2.0.hdf5 -O SEOBNRv4ROM_v2.0.hdf5
            #cd ../../../../../
            cd $NRC_DIR
            pwd
            ls
            # Pull waveformtools
            cd ..
            git clone https://gitlab.com/vaishakp/waveformtools.git
            cd waveformtools
            pip install -r requirements.txt
            ls
            export WTOOLS_DIR=$PWD
            echo $WTOOLS_DIR
            export PYTHONPATH="$WTOOLS_DIR":$PYTHONPATH
            echo $PYTHONPATH
            # Begin testing
            cd $NRC_DIR/test
            python -m unittest -v
      - name: Upload logs
        uses: actions/upload-artifact@v3
        with:
          name: logs
          path: |
            ./test/logs/*


